Package: com.pumba.statusbarsuite
Name: StatusBarSuite
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hide/Show most icons on your StatusBar with StatusBarSuite!
Maintainer: Pumba <chumeet@gmail.com>
Author: Pumba
Section: Tweaks
Version: 0.0.1-39
Installed-Size: 64
